%body
  .wrap
    .g_wrap
      .g_1 1
      .g_1 1
      .g_1 1
      .g_1 1
      .g_1 1
      .g_1 1
      .g_1 1
      .g_1 1
      .g_1 1
      .g_1 1
      .g_1 1
      .g_1 1
    .g_wrap
      .g_2 2
      .g_2 2
      .g_2 2
      .g_2 2
      .g_2 2
      .g_2 2
    .g_wrap
      .g_3 3
      .g_3 3
      .g_3 3
      .g_3 3
    .g_wrap
      .g_6
        .g_4 4
        .g_2 2
      .g_6 6
    .g_wrap
      .g_12 12